<h1>Your Profile</h1>
<h1>
    <%= gravatar_for @user %>
    <%= @user.name %><br>
    <% if @user.age.present? %>
        Age:<%= @user.age %>
    <% else %>
        Age:<span class="text-muted"><i>Not set</i></span>
    <% end %>
</h1>
